body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
header img {width: 300px;
            float: left;}
nav {padding-top: 61px;}
#links {background-color: #037DBE;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0;
        padding-right: 0;}
nav a {color: #ffffff;
       text-decoration: none;
       padding-left: 5%;}
nav a:hover {color: #111111;}